.nav {
  padding-top: 15px;
  background-color: #161633;
}
@media (min-width: 1100px) {
  .nav {
    padding-top: 30px;
  }
}

.home {
  margin: 10px;
  text-decoration: none;
}

.movies {
  margin: 10px;
  text-decoration: none;
}
